@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources")

@{
    var appThemeSystem = new AppThemeSystemLimpet("rocketsystemwraptemplate");
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());
}

@RenderTemplate("AdminPanelHeader.cshtml", appThemeSystem, Model)

<!-- Sidebar/Menu -->
<div id="sidebarplaceholder"></div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:280px;">

    <!-- Main -->
    <div style="padding-top:0px;">
        <!-- Content -->
        <div id="simplisity_startpanel" class="w3-row simplisity_panel" s-cmd="articleadmin_editlist" s-fields=''>
            <div class="simplisity_loader">
                <span class=" simplisity_loader_inner">
                </span>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#sidebarplaceholder').getSimplisity('@(portalData.EngineUrlWithProtocol)/Desktopmodules/dnnrocket/api/rocket/action', 'getsidemenu', '{"systemkey":"rocketsystemwraptemplate"}', '')
        $(document).simplisityStartUp('@(portalData.EngineUrlWithProtocol)/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketsystemwraptemplate', debug: false });

        $('#sidebarplaceholder').activateSimplisityPanel();

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>
