@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources")

@{
    var systemGloablData = new SystemGlobalData();
    var portalData = new PortalLimpet(PortalUtils.GetPortalId());
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var portalCat = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var sessionParams = Model.SessionParamsData;
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
}


@functions
{
    public IEncodedString GetInterfaceLink(SystemLimpet systemData, RocketInterface rinterface, bool submenu)
    {
        var rtn = "";
        if (rinterface.IsOnMenu)
        {
            var securityData = new SecurityLimpet(PortalUtils.GetPortalId(), systemData.SystemKey, rinterface, -1, -1);
            if (securityData.HasSecurityAccess(rinterface.DefaultCommand))
            {
                var interfaceName = DNNrocketUtils.GetResourceString(systemData.SystemRelPath + "/App_LocalResources", "SideMenu." + rinterface.InterfaceKey, "Text", DNNrocketUtils.GetCurrentCulture());
                if (interfaceName == "")
                {
                    interfaceName = DNNrocketUtils.GetResourceString(rinterface.TemplateRelPath + "/App_LocalResources", "SideMenu." + rinterface.InterfaceKey, "Text", DNNrocketUtils.GetCurrentCulture());
                }
                if (interfaceName == "")
                {
                    interfaceName = rinterface.InterfaceKey;
                }
                if (submenu)
                {
                    rtn = "<div class='w3-bar-item w3-button w3-margin-left  sidemenubutton sidemenu" + rinterface.InterfaceKey + " simplisity_click' s-cmd='" + rinterface.DefaultCommand + "' s-fields='{\"track\":\"true\",\"systemkey\":\"" + systemData.SystemKey + "\"}' style='width: 280px;' ><strong>" + interfaceName + "</strong></div>";
                }
                else
                {
                    rtn = "<div class='w3-bar-item w3-button w3-padding-16  sidemenubutton sidemenu" + rinterface.InterfaceKey + " simplisity_click' s-cmd='" + rinterface.DefaultCommand + "'  s-fields='{\"track\":\"true\",\"systemkey\":\"" + systemData.SystemKey + "\"}' style='width: 280px;'><strong><span class='material-icons'>" + rinterface.InterfaceIcon + "</span>&nbsp;" + interfaceName + "</strong></div>";
                }
            }
        }
        return new RawString(rtn);
    } 
}

<nav class="w3-sidebar w3-collapse w3-white  w3-card" style="z-index:3;width:280px;" id="mySidebar">

    <div class="w3-display-container w3-large w3-theme-l3 w3-border-bottom " style="height:48px;">
        <span class="w3-button w3-hide-large w3-right"  style="height:48px;" onclick="w3_open();"><span class="material-icons">close</span></span>
    </div>

    <div class="w3-bar-block">
        @{
            var groupList = systemData.GetGroups(true);
        }

        @foreach (var g in groupList)
        {
            var groupref = g.Key;
            var groupicon = g.Value;
            var interfacelist = systemData.GetGroupInterfaceList(groupref);
            if (interfacelist.Count > 0)
            {
                if (groupref == "")
                {
                    // ROOT clickable
                    foreach (var r in interfacelist)
                    {
                        @GetInterfaceLink(systemData, r, false)
                    }
                }
                else
                {

                    var groupName = DNNrocketUtils.GetResourceString(systemData.SystemRelPath + "/App_LocalResources", "SideMenu." + groupref, "Text", DNNrocketUtils.GetCurrentCulture());
                    if (groupName == "")
                    {
                        groupName = groupref;
                    }

                    <div class="w3-bar-item w3-button w3-padding-16 groupmenu" groupref="@groupref"><strong><span class='material-icons'>@groupicon</span>&nbsp;@groupName</strong><span class="material-icons w3-right">expand_more</span></div>

                    <!-- SubMenu  -->
                    <div class="w3-bar-block" id="submenu@(groupref)" style="display:none;padding-bottom:16px;">
                        @foreach (var r in interfacelist)
                        {
                            @GetInterfaceLink(systemData, r, true)
                        }
                    </div>
                }
            }
        }

    </div>

    <hr>

    <!-- Admin Menu -->
    <div class="w3-bottom  w3-theme-l5" style="width:280px;">
        <div class="w3-bar-block">
            <button type='button' class="w3-bar-item w3-button w3-padding-16 w3-light-grey w3-center" id="adminbtn"><span class="material-icons">more_horiz</span></button>
        </div>
        <div class="w3-bar-block w3-section" style="display:none;" id="adminmenu">
            <a class="w3-bar-item w3-button w3-text-black " href='/'>@ButtonText(ButtonTypes.home)</a>
            @if (UserUtils.IsSuperUser()) // ONLY SuperUser
            {
                <button type="button" class="w3-bar-item w3-button w3-padding-16 simplisity_click" s-cmd="rocketapptheme_getlist" s-fields='{"systemkey":"rocketapptheme"}' s-index="2"><strong><span class="material-icons">developer_mode</span>&nbsp;AppThemes</strong></button>
                <a class="w3-bar-item w3-button" href="//@PortalUtils.DefaultPortalAlias(0)" style="text-decoration: none;color: black;">
                    <span class="material-icons">
                        miscellaneous_services
                    </span>
                    @ResourceKey("DNNrocket.services")
                </a>
            }

            <div class="w3-row w3-padding">
                @foreach (var l in enabledlanguages)
                {
                    var selectedcolor = "w3-theme-l5";
                    if (sessionParams.CultureCode == l)
                    {
                        selectedcolor = "w3-theme-l3";
                    }
                    <div class="w3-button w3-round @(selectedcolor) changelanguage" s-cmd="dashboard_get" s-reload="true" language='@(l)'><img src="/DesktopModules/DNNrocket/API/images/flags/16/@(l).png" class="w3-round" /></div>
                }
            </div>

        </div>
    </div>
</nav>


<script>

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }

    $(document).ready(function () {
        $(".changelanguage").click(function () {
            var l = $(this).attr('language');
            simplisity_setSessionField('culturecode', l);
            simplisity_callserver(this);
        });
    });


    $(document).ready(function () {
        $('#simplisity_startpanel').show();

        // Toggle Search
        $("#searchbtn").click(function () {
            $('#searchbar').slideToggle();
        });

        // Toggle SubMenu
        $(".groupmenu").click(function () {
            var groupref = $(this).attr('groupref');
            $('#submenu' + groupref).slideToggle();
        });

        // Toggle Admin Menu
        $("#adminbtn").click(function () {
            $('#adminmenu').slideToggle();
        });

        simplisity_setSessionField('culturecode', '@(sessionParams.CultureCode)')
        simplisity_setSessionField('culturecodeedit', '@(sessionParams.CultureCodeEdit)')

        var s = simplisity_getCookieValue("rocketportal_tabselector")	
 
    });

function selectMenu(interfacekey) {
    $('.sidemenubutton').removeClass("w3-theme-d2");
    $('.sidemenu' + interfacekey).addClass("w3-theme-d2");
}

</script>


